<html>
<body>

<h1>Submit the Form</h1>
<h2> Submit any file that you want to download from the web. It may be blocked by your system - admin or your network connection may be slow. </h2>
<h3> For e.g. try to download this file  http://downloads.mysql.com/docs/refman-5.5-en.a4.pdf </h3>
<form action="/hello" method="POST">
    file to download: <input type="text"  value="http://downloads.mysql.com/docs/refman-5.5-en.a4.pdf" name="greet">
    <br/>
    <input type="submit">
</form>

</body>
</html>
